{% block paragraph %}
    {% block content %} 
        <div class="core-values-section">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="font-weight-bold">{{ content.field_title.0 }}</h2>
                    <div class="summary">{{ content.field_body}}</div>
                    {% for i in content.field_core_values['#items']|keys%}
                    <div class="core-values mb-3">
                        <div class="core-values-number"><span>{{ '%02d'|format(i+1) }}</sapn></div>
                        <div class="core-values-details">{{ content.field_core_values[i] }}</div>
                    </div>  
                    {% endfor %}  
                </div>
                <div class="col-md-6">
                    {{ content.field_image.0 }}
                </div> 
            </div>       
        </div>
    {% endblock %}
{% endblock paragraph %}
