<div class="pillars d-flex flex-column align-items-center">
    {{ content.field_icon }}
    <h4 class="fw-bold">{{ content.field_title}} </h4>
    {{ content.field_body }}
    {% if content.field_link.0 %}<a class="info-link" href="{{ content.field_link.0['#url'] }}">{{ content.field_link.0['#title'] }}</a>{% endif %}
</div>