
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}

{# {% set node = node_load(block.node_id) %} #}
{# {% extends '@theme/block.html.twig' %} #}


<div{{ attributes.addClass(classes) }} style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 24.2%, rgba(0, 0, 0, 0.75) 100%), url('{{ file_url(content.field_background_image[0]['#media'].field_media_image.entity.uri.value) }}') no-repeat center center/cover; height: 290px; {# position: relative; background-size: cover; #}" loading="lazy">
 
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div class="container-content" style="height:100%">
      <div class="page-banner-content">
        <h1 class="page-banner-text">
          {{ content.field_title.0 }}  
          
        </h1>
      </div> 
    </div>
  {% endblock %}
</div>


 {# {{ content.field_media_image[0]['#media'].field_media_image.entity.uri.value | json_encode(constant('JSON_PRETTY_PRINT')) }}    #}
{# 
 {{  node.label | json_encode(constant('JSON_PRETTY_PRINT')) }}    #}


