{#
/**
 * @file
 * Theme override for a three-column layout.
 *
 * Available variables:
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 */
#}
{% if content %}
  <div class="row">

    {% if content.first %}
      <div {{ region_attributes.first.addClass('col-lg-4') }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second.addClass('col-lg-4') }}>
        {{ content.second }}
      </div>
    {% endif %}

    {% if content.third %}
      <div {{ region_attributes.third.addClass('col-lg-4') }}>
        {{ content.third }}
      </div>
    {% endif %}

  </div>
{% endif %}
